
.environment-radios {
margin-left: 2em;
}

#species-section {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  align-content: space-between
}

#add-species-button {
  margin-bottom: 1em;
}